@model ModelValidation.Models.MakePersonViewModel

@{
    ViewBag.Title = "MakePerson";
}

<h4>Make a Person</h4>

@using (Html.BeginForm())
{
    @*@Html.ValidationSummary()*@
    <p>Id: @Html.EditorFor(m => m.Id)</p>
    <p>@Html.ValidationMessageFor(m=>m.Id)</p>
    <p>Name: @Html.EditorFor(m => m.Name)</p>
    <p>@Html.ValidationMessageFor(m => m.Name)</p>
    <p>DateTime: @Html.EditorFor(m => m.DateTime)</p>
    <p>@Html.ValidationMessageFor(m => m.DateTime)</p>
    <p>Email: @Html.EditorFor(m => m.Email)</p>
    <p>@Html.ValidationMessageFor(m => m.Email)</p>
    <p>@Html.EditorFor(m => m.TermsAccepted) I accept the terms & conditions</p>
    <p>@Html.ValidationMessageFor(m => m.TermsAccepted)</p>
    <p>TestId:@Html.EditorFor(m => m.Tester.TestId)</p>
    <p>@Html.ValidationMessageFor(m => m.Tester.TestId)</p>

        @Html.EditorFor(m => m.Students)<br />
    
    <input type="submit" value="Make Person" /> <br/>

    @Html.ActionLink("Upload Exercise", "Upload", "Exercise")<br />
    @Html.ActionLink("Ajax Exercise", "AjaxGetMessage", "Exercise")<br />
    @Html.ActionLink("Jquery Ajax Exercise", "JqueryAjaxGetCustomers", "Exercise")
}